:root{
    --headings :  #85971d;
    --sub-headings: ;
    --content: ;
    --sub-content: ;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

 .container{
    width: 100%;
    height: 100vh;
    background-image: url(img/essentialoil.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 210px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    color: var(--headings);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;

}
nav ul li a{
    text-decoration: none;
    color: var(--headings);
    font-size: 13px;
    padding: 10px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: var(--headings);
    font-size: 100px;

}
p{
    color: var(--headings);
    font-size: 13px;
    line-height: 15px;
    text-indent: 30px;
}
#tab li a:hover {
    background-color: var(--headings);
    color: white;
    border-radius: 20px;
  }
  
  /* Create an active/current tablink class */
  #tab li a.active {
    background-color: var(--headings);
    color: white;
    border-radius: 20px;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    transition: all 0.5s;
  }
  #Home{
    display: flex;
  }