:root{
    --headings :  #85971d;
    --sub-headings: #fff;
    --content: ;
    --sub-content: ;
    --brown: #ce9e63;
    --dark-brown: #6a4520;

}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@font-face {
    font-family: Alice;
    src: url('/fonts/Alice-Regular.ttf');
}  

@font-face {
    font-family: Calligraphy2;
    src: url('/fonts/Cream Cake.otf');
}   
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

 .container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-image: url('img/essentialoil.jpg');
    backdrop-filter: blur(5px);
}

.navbar{
    height: 10%;
    display: flex;
    align-items: center;
    background-color: var(--brown);
}
.logo{
    width: 210px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;

    color: var(--headings);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
}
.row{
    display: flex;
    align-items: center;
    background-color: ;
    border-radius: 20px;
}
.col{

}

p{
    color: var(--sub-headings);
    font-size: 20px;
    line-height: 15px;
}
#tab li a:hover {
    background-color: var(--dark-brown);
    color: #fff;
    border-radius: 20px;
  }
  
  /* Create an active/current tablink class */
  #tab li a.active {
    background-color: var(--dark-brown);
    color: #fff;
    border-radius: 20px;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    transition: all 0.5s;
  }
  #Home{
    display: flex;
    height: 90%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
     backdrop-filter: blur(15px);
  }
#home-intro-text{
    
  z-index: 2;
}
  #home-intro-text h1{
        font-size: 170px;
      color: #fff;
      font-family: Calligraphy2;
        animation: flicker 1.5s infinite alternate;
  }
    #home-intro-text p{
        font-family: 'Source Serif Pro';
    }

    #home-background{

    }


  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
          0 0 7px #fff,
          0 0 10px var(--brown),
          0 0 21px var(--brown),
          0 0 42px var(--brown),
          0 0 82px var(--brown),
          0 0 92px var(--brown),
          0 0 102px var(--brown),
          0 0 151px var(--dark-brown);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  @media (max-width: 813px){
  }