:root{
    --headings :  #85971d;
    --sub-headings: #fff;
    --content: ;
    --sub-content: ;
    --brown: #ce9e63;
    --light-dark-brown: #967349;
    --dark-brown: #6a4520;

}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@font-face {
    font-family: Alice;
    src: url('fonts/Alice-Regular.ttf');
}  

@font-face {
    font-family: Calligraphy2;
    src: url('fonts/Cream Cake.otf');
}   
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

 .container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-image: url('img/essentialoil.jpg');
    backdrop-filter: blur(5px);
}

.navbar{
    height: 10%;
    display: flex;
    align-items: center;
    background-color: var(--brown);
}
.logo{
    width: 210px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;

    color: var(--headings);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    transition: all 0.3s;
}
#Home{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.col{

}

p{
    color: var(--sub-headings);
    font-size: 20px;
    line-height: 15px;
}
#tab li a:hover {
    background-color: var(--dark-brown);
    color: #fff;
    border-radius: 20px;
  }
  
  /* Create an active/current tablink class */
  #tab li a.active {
    background-color: var(--dark-brown);
    color: #fff;
    border-radius: 20px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    transition: all 0.5s;
  }
  #Home{
    height: 90%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
     backdrop-filter: blur(15px);
  }

  #Products{
    display: flex;
    width: 100%;
    padding: 5%;
    margin: auto;
    backdrop-filter: blur(15px);
    transition: all 0.3s;
  }
  .product-card{
    padding: 20px;
    width: 300px;
    background-color: var(--light-dark-brown);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    color:  #3d2813;
  }
  .product-card img{
    width: 100%;
    border-radius: 5px;
  }
  .product-name{
    text-align: center;

  }
  .product-card:hover{
    transform: translate(10px, -10px);
    background-color: var(--dark-brown);
    color:  var(--brown);
  }
  
#home-intro-text{
    
  z-index: 2;
}
  #home-intro-text h1{
        font-size: 170px;
      color: #fff;
      font-family: Calligraphy2;
        animation: flicker 1.5s infinite alternate;
  }
  .neon-text{
    font-size: 170px;
      color: #fff;
      font-family: Calligraphy2;
        animation: flicker 1.5s infinite alternate;
  }
  .centered{
    text-align: center;
  }
    #home-intro-text p{
        font-family: 'Source Serif Pro';
    }

    #home-background{

    }


  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
          0 0 7px #fff,
          0 0 10px var(--brown),
          0 0 21px var(--brown),
          0 0 42px var(--brown),
          0 0 82px var(--brown),
          0 0 92px var(--brown),
          0 0 102px var(--brown),
          0 0 151px var(--dark-brown);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  @media (max-width: 813px){
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  #Products .col{
    width: 920px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }